<h1>Tind batch request was submitted</h1>
<p>Your batch request was successfully submitted. You should receive an email with an attachment containing your batch load file within the next few hours.</p>
<p>If you have any issues please contact <%= mail_to('helpbox-library@berkeley.edu') %></p>
<p>
  If you are using spam filtering software, you may need to add the following email address to your address book to ensure that you receive your batch load:<br/>
  lib-noreply@berkeley.edu
</p>

