<h1 class="mb-3">Proxy Borrower Card - Administration</h1>
<%= link_to 'View the DB in one spreadsheet', forms_proxy_borrower_admin_view_path %>
<br>
<br>
<%= link_to 'Search the database', forms_proxy_borrower_admin_search_path %>
<br>
<br>
<%# ONLY FOR ADMIN ROLE %>
<% if @user_is_admin %>
  <%= link_to 'Edit/Add Administrators', forms_proxy_borrower_admin_users_path %>
  <br>
  <br>
<% end %>
<br>
