spec/data/lending/incoming/** filter=lfs diff=lfs merge=lfs -text
spec/data/lending/final/** filter=lfs diff=lfs merge=lfs -text

"spec/data/lending/incoming/b11996535_B 3 106 704/**" filter=none binary
"spec/data/lending/final/b11996535_B 3 106 704/**" filter=none binary
