---

networks:
  default:
    external:
      name: lb_default

services:
  rails:
    environment:
      INTERCEPT_EMAILS: present
      RAILS_ENV: production
    image: containers.lib.berkeley.edu/lap/altmedia/altmedia-rails:latest
    deploy:
      labels:
        traefik.backend: altmedia_rails
        traefik.docker.network: lb_default
        traefik.enable: "true"
        traefik.frontend.rule: Host:framework.ucblib.org
        traefik.port: "3000"
    logging:
      driver: awslogs
      options:
        awslogs-create-group: "true"
        awslogs-group: staging/framework/rails
        awslogs-region: us-west-1
        mode: non-blocking

  updater:
    environment:
      INTERCEPT_EMAILS: present
      RAILS_ENV: production
    image: containers.lib.berkeley.edu/lap/altmedia/altmedia-rails:latest
    logging:
      driver: awslogs
      options:
        awslogs-create-group: "true"
        awslogs-group: staging/framework/rails
        awslogs-region: us-west-1
        mode: non-blocking

version: "3.5"
