---

networks:
  default: {}

services:

  nginx:
    build: nginx
    depends_on:
      - rails
    image: containers.lib.berkeley.edu/lap/altmedia/altmedia-nginx:${DOCKER_SERVICE_NGINX_TAG:-latest}
    volumes:
      - public:/usr/share/nginx/html:ro

  rails:
    build: .
    image: containers.lib.berkeley.edu/lap/altmedia/altmedia-rails:${DOCKER_SERVICE_RAILS_TAG:-latest}
    volumes:
      - public:/opt/app/public:delegated
      - bundle_cache:/usr/local/bundle/cache:delegated

version: "3.4"

volumes:
  bundle_cache: {}
  public: {}
