services:
  rails: &rails
    build:
      context: .
      labels:
        edu.berkeley.lib.build-number: "${BUILD_NUMBER}"
        edu.berkeley.lib.build-url: "${BUILD_URL}"
        edu.berkeley.lib.git-commit: "${GIT_COMMIT}"
        edu.berkeley.lib.git-repo: "${GIT_URL}"
        edu.berkeley.lib.project-description: Rails application providing a variety of administrative forms.
        edu.berkeley.lib.project-tier: 24/7
    environment:
      RAILS_ENV: test
    image: "${DOCKER_TAG}"
    volumes:
      - public:/opt/app/public
      - tests:/opt/app/test

  updater:
    <<: *rails
    command:
      - assets:precompile
    restart: "no"

version: "3.5"

volumes:
  public: {}
  tests: {}
