---

networks:
  default: {}

# Override secrets to use local files.
secrets:
  MAIL_PASSWORD:
    file: secrets/MAIL_PASSWORD
  PRIVATE_KEY:
    file: secrets/PRIVATE_KEY
  SECRET_KEY_BASE:
    file: secrets/SECRET_KEY_BASE

services:

  nginx:
    volumes:
      - ./public:/usr/share/nginx/html:ro

  rails:
    build:
      target: "${DOCKER_TARGET:-development}"
    environment:
      ADMIN_EMAIL: dzuckerm@library.berkeley.edu
      PATRON_URL: https://dev-oskicatp.berkeley.edu:54620/PATRONAPI/
    volumes:
      - ./:/opt/app:delegated
      - ./public:/opt/app/public:delegated
      - bundle_cache:/usr/local/bundle/cache:delegated

version: "3.4"

volumes:
  bundle_cache: {}
  public: {}
