services:
  app: &services-app
    build:
      context: .
      target: development
    depends_on:
      - db
      - worker
      - selenium
      - selenium-chrome
    init: true
    networks:
      default:
        aliases:
          - app.test
    volumes:
      - ./:/opt/app
    ports:
      - 3000:3000
    restart: always

  worker:
    <<: *services-app
    command: good_job start
    depends_on:
      - db
      - selenium
      - selenium-chrome
    ports: []

  db:
    environment:
      POSTGRES_PASSWORD: root
      POSTGRES_USER: root
    image: postgres:12.2
    networks:
      default:
        aliases:
          - db.test
    restart: always
    ports:
      - 5432:5432
    volumes:
      - ./:/build:rw

  selenium:
    image: selenium/hub
    # image: selenium/hub:4.10.0
    networks:
      default:
        aliases:
          - selenium.test
    ports:
      - 4442:4442
      - 4443:4443
      - 4444:4444
    volumes:
      - ./:/build:rw

  selenium-chrome:
    image: selenium/node-chrome
    # image: selenium/node-chrome:4.10.0
    # shm_size: 2gb
    depends_on:
      - selenium
    environment:
      - SE_EVENT_BUS_HOST=selenium
      - SE_EVENT_BUS_PUBLISH_PORT=4442
      - SE_EVENT_BUS_SUBSCRIBE_PORT=4443
    ports:
      # @note Use `open vnc://localhost:55900` to view the chrome session.
      #       Doesn't work if you pass the "headless" option via Capybara.
      #       Password = "secret"
      - 55900:5900
    volumes:
      - /dev/shm:/dev/shm:rw
      - ./:/build:rw

  dbeaver:
    image: dbeaver/cloudbeaver:latest
    container_name: dbeaver 
    depends_on:
      - db
    restart: always
    ports:
      - '8080:8978'
    volumes: 
      - ./:/build:rw

version: '3.8'
