---

secrets:
  RECAPTCHA_SECRET_KEY:
    external: true
    name: RECAPTCHA_LIB_BERKELEY_EDU_SECRET_KEY
  RECAPTCHA_SITE_KEY:
    external: true
    name: RECAPTCHA_LIB_BERKELEY_EDU_SITE_KEY

services:
  rails:
    deploy:
      replicas: 2
    environment:
      PATRON_API_URL: https://oskicatp.berkeley.edu:54620/PATRONAPI/
      RAILS_ENV: production
    image: containers.lib.berkeley.edu/lap/altmedia/altmedia-rails:git-b7dcc6b5
    logging:
      driver: awslogs
      options:
        awslogs-create-group: "true"
        awslogs-group: production/framework/rails
        awslogs-region: us-west-1
        mode: non-blocking

  updater:
    environment:
      PATRON_API_URL: https://oskicatp.berkeley.edu:54620/PATRONAPI/
      RAILS_ENV: production
    image: containers.lib.berkeley.edu/lap/altmedia/altmedia-rails:git-b7dcc6b5
    logging:
      driver: awslogs
      options:
        awslogs-create-group: "true"
        awslogs-group: production/framework/updater
        awslogs-region: us-west-1
        mode: non-blocking

version: "3.5"

volumes:
  public:
    driver: netapp
