---

networks:
  default: {}

services:

  nginx:
    build: nginx
    depends_on:
      - rails
    image: containers.lib.berkeley.edu/lap/altmedia/altmedia-nginx:${DOCKER_SERVICE_NGINX_TAG:-latest}
    volumes:
      - ./public:/usr/share/nginx/html:ro

  rails:
    build:
      context: .
      target: "${DOCKER_SERVICE_RAILS_TARGET:-development}"
    image: containers.lib.berkeley.edu/lap/altmedia/altmedia-rails:${DOCKER_SERVICE_RAILS_TAG:-latest}
    ports:
      - 3000:3000
    volumes:
      - ./:/opt/app:delegated
      - bundle_cache:/usr/local/bundle/cache:delegated

version: "3.4"

volumes:
  bundle_cache: {}
  public: {}
