---

networks:
  default:
    external:
      name: lb_default

services:
  rails:
    environment:
      RAILS_ENV: staging
    image: containers.lib.berkeley.edu/lap/altmedia/altmedia-rails:latest
    logging:
      driver: awslogs
      options:
        awslogs-create-group: "true"
        awslogs-group: staging/framework/rails
        awslogs-region: us-west-1
        mode: non-blocking

  updater:
    environment:
      RAILS_ENV: staging
    image: containers.lib.berkeley.edu/lap/altmedia/altmedia-rails:latest
    logging:
      driver: awslogs
      options:
        awslogs-create-group: "true"
        awslogs-group: staging/framework/rails
        awslogs-region: us-west-1
        mode: non-blocking

version: "3.5"
