services:
  app: &services-app
    build:
      context: .
      target: development
    depends_on:
      - db
      - selenium
      - selenium-chrome
    environment:
      CI: present
    init: true
    networks:
      default:
        aliases:
          - app.test
    volumes:
      - ./:/opt/app
    ports:
      - 3000:3000
    restart: always

  db:
    environment:
      POSTGRES_PASSWORD: root
      POSTGRES_USER: root
    image: postgres:12.2
    networks:
      default:
        aliases:
          - db.test
    restart: always
    volumes:
      - ./:/build:rw

  selenium:
    image: selenium/hub
    networks:
      default:
        aliases:
          - selenium.test
    ports:
      - 4444:4444
    volumes:
      - ./:/build:rw

  selenium-chrome:
    depends_on:
      - selenium
    environment:
      HUB_HOST: selenium
      SCREEN_WIDTH: 2560
      SCREEN_HEIGHT: 1440
    image: selenium/node-chrome-debug
    ports:
      # @note Use `open vnc://localhost:55900` to view the chrome session.
      #       Doesn't work if you pass the "headless" option via Capybara.
      #       Password = "secret"
      - 55900:5900
    volumes:
      - /dev/shm:/dev/shm:rw
      - ./:/build:rw

  adminer:
    image: adminer
    restart: always
    ports:
      - 8080:8080

version: '3.8'
