---

networks:
  default:
    driver: overlay
    attachable: true

secrets:
  MAIL_PASSWORD:
    external:
      name: MAIL_LIB_NOREPLY_PASSWORD
  PATRON_URL:
    external:
      name: ALTMEDIA_PATRON_URL
  PRIVATE_KEY:
    external:
      name: ALTMEDIA_PATRON_KEY
  SECRET_KEY_BASE:
    external:
      name: ALTMEDIA_SECRET_KEY_BASE

services:
  rails:
    build: .
    deploy:
      mode: replicated
      replicas: 2
    image: containers.lib.berkeley.edu/lap/altscan/altscan-rails:${DOCKER_TAG:-v1.0.0}
    volumes:
      - public-data:/opt/app/public
    secrets:
      - source: MAIL_PASSWORD
        target: /run/secrets/MAIL_PASSWORD
      - source: PRIVATE_KEY
        target: /home/altmedia/.ssh/id_rsa
      - source: SECRET_KEY_BASE
        target: /run/secrets/SECRET_KEY_BASE

version: "3.4"

volumes:
  public-data: {}
