---

services:

  rails:
    build:
      target: "${DOCKER_TARGET:-development}"
    ports:
      - 3000:3000
    volumes:
      - ./:/opt/altscan:delegated
      - ./public:/opt/altscan/public:delegated

version: "3.4"
