services:
  app: &services-app
    build:
      context: .
      target: development
    depends_on:
      db:
        condition: service_started
      worker:
        condition: service_started
      selenium:
        condition: service_started
    init: true
    networks:
      default:
        aliases:
          - app.test
    volumes:
      - ./:/opt/app
    ports:
      - 3000:3000
    restart: always

  worker:
    <<: *services-app
    command: good_job start
    depends_on:
      - db
      - selenium
    ports: []

  db:
    environment:
      POSTGRES_PASSWORD: root
      POSTGRES_USER: root
    image: postgres:16
    networks:
      default:
        aliases:
          - db.test
    restart: always
    ports:
      - 5432:5432
    volumes:
      - ./:/build:rw

  selenium:
    image: selenium/standalone-chromium
    networks:
      default:
        aliases:
          - selenium.test
    ports:
      - 4444:4444
      - 7900:7900
    shm_size: 2gb
    volumes:
      - ./:/build:rw

  dbeaver:
    image: dbeaver/cloudbeaver:latest
    container_name: dbeaver
    depends_on:
      - db
    restart: always
    ports:
      - '8080:8978'
    volumes:
      - ./:/build:rw
