services:
  rails: &services-rails
    build:
      context: .
      target: development
    ports:
      - 3000:3000
    restart: always
    volumes:
      - ./:/opt/app

  updater:
    <<: *services-rails
    command:
      - assets:precompile
    ports: []
    restart: "no"

  yard:
    <<: *services-rails
    entrypoint: ['bundle', 'exec', '--', 'yard', 'server', '--reload']
    ports:
      - 8808:8808

version: "3.5"
