services:
  adminer:
    image: adminer
    restart: always
    ports:
      - 8080:8080

  db:
    image: postgres:12.2
    restart: always
    environment:
      POSTGRES_USER: root
      POSTGRES_PASSWORD: root

  app: &services-app
    build:
      context: .
      target: development
    ports:
      - 3000:3000
    restart: always
    volumes:
      - ./:/opt/app

  updater:
    <<: *services-app
    command: rails setup
    depends_on:
      - adminer
      - app
      - db
    ports: []
    restart: "no"

version: "3.5"
