---

secrets:
  RECAPTCHA_SECRET_KEY:
    external: true
    name: RECAPTCHA_LIB_BERKELEY_EDU_SECRET_KEY
  RECAPTCHA_SITE_KEY:
    external: true
    name: RECAPTCHA_LIB_BERKELEY_EDU_SITE_KEY

services:
  rails:
    deploy:
      labels:
        traefik.enable: "true"
        traefik.frontend.rule: Host:altmedia.lib.berkeley.edu,framework.lib.berkeley.edu
        traefik.port: "3000"
      replicas: 2
    environment:
      LIT_HIDDEN_PATHS: >
        /forms/altmedia(?!-).*
        /forms/altmedia-articles.*
        /forms/doemoff-study-room-use.*
      PATRON_API_URL: https://oskicatp.berkeley.edu:54620/PATRONAPI/
      RAILS_ENV: production
    image: containers.lib.berkeley.edu/lap/altmedia/altmedia-rails:git-0956c98c
    logging:
      driver: awslogs
      options:
        awslogs-create-group: "true"
        awslogs-group: production/framework/rails
        awslogs-region: us-west-1
        mode: non-blocking
    networks:
      - default
      - frontend

  updater:
    environment:
      PATRON_API_URL: https://oskicatp.berkeley.edu:54620/PATRONAPI/
      RAILS_ENV: production
    image: containers.lib.berkeley.edu/lap/altmedia/altmedia-rails:git-0956c98c
    logging:
      driver: awslogs
      options:
        awslogs-create-group: "true"
        awslogs-group: production/framework/updater
        awslogs-region: us-west-1
        mode: non-blocking

networks:
  default:
  frontend:
    external: true

volumes:
  public:
    driver: netapp

version: "3.5"
