---

networks:
  default:
    driver: overlay
    attachable: true

services:

  rails:
    build: .
    image: containers.lib.berkeley.edu/lap/altscan/altscan-rails:${DOCKER_TAG:-latest}
    environment:
      DATABASE_URL: sqlite3:///var/opt/altscan/production.sqlite3
    #  SECRET_KEY_BASE: need to get from secrets (needs to be set up) 
      PUB_KEY: /opt/altscan/.ssh/id_rsa
      SSH_USER: dzuckerm
    #  SHA: need to get from secrets (needs to be set up) 
    volumes:
      - db-data:/var/altscan/ohc
      - public-data:/opt/altscan/public
    deploy:
      mode: replicated
      replicas: 2

version: "3.4"

volumes:
  db-data: {}
  public-data: {}
