---

secrets:
  MAIL_PASSWORD:
    external:
      name: MAIL_LIB_NOREPLY_PASSWORD
  PRIVATE_KEY:
    external:
      name: ALTMEDIA_PRIVATE_KEY
  SECRET_KEY_BASE:
    external:
      name: ALTMEDIA_SECRET_KEY_BASE

services:

  rails:
    deploy:
      mode: replicated
      placement:
        constraints:
          - node.labels.patronapi == allowed
      replicas: 1
      resources:
        limits:
          cpus: '0.25'
          memory: 250M
      update_config:
        delay: 10s
        failure_action: rollback
        order: start-first
    environment:
      # TODO(dcschmidt/dzuckerm): Actually set these only once we're ready to
      # go live.
      # ADMIN_EMAIL: prntscan@lists.berkeley.edu # NOTE(dcschmidt): not a typo!
      # BAKER_EMAIL: baker@library.berkeley.edu
      PATRON_URL: https://oskicatp.berkeley.edu:54620/PATRONAPI/
    image: containers.lib.berkeley.edu/lap/altmedia/altmedia-rails:latest
    ports:
      - 3000
    volumes:
      - public:/opt/app/public
    secrets:
      - { source: MAIL_PASSWORD,    target: /run/secrets/MAIL_PASSWORD }
      - { source: PRIVATE_KEY,      target: /home/altmedia/.ssh/id_rsa }
      - { source: SECRET_KEY_BASE,  target: /run/secrets/SECRET_KEY_BASE }

version: "3.4"

volumes:
  public:
    driver: netapp
