<h1 style="font-size: 2rem">Your Tind MARC batch load has been submitted.</h1>
<p>Your batch request was successfully submitted. Once the job has completed you should receive an email with an attachment containing your batch load file along with an error file if any errors were encountered.

<p>
  If you are using spam filtering software, you may need to add the following email address to your address book to ensure that you receive your batch load:<br/>
  lib-noreply@berkeley.edu
</p>

