<p class="success">You have successfully submitted the Library Staff Electronic Devices Loan - Terms and Conditions form. In a few minutes, you will receive a confirmation email that also confirms your submission of the form.</p>

<p>If you do not receive a confirmation email, please contact the Privileges Desk:</p>

<ul>
  <li>Email: <%= mail_to 'privdesk@library.berkeley.edu' %></li>
  <li>Phone: +1(510)642-3403</li>
</ul>
