<p class="blocked">Your library privileges are currently blocked. Please contact the Privileges Desk to clear the block. Once the block has been cleared, you may submit the Library Staff Electronic Devices Loan - Terms and Conditions form.</p>

<ul>
  <li>Email: <%= mail_to 'privdesk@library.berkeley.edu' %></li>
  <li>Phone: +1(510)642-3403</li>
</ul>