<h3>Your library privileges are currently blocked.</h3>

<p>Please <a href="http://www.lib.berkeley.edu/using-the-libraries/privileges-desk">contact the Privileges Desk</a> to clear the block. Once the block has been cleared you may opt in by revisiting this page and completing a form.</p>

<%= link_to 'Logout','https://auth.berkeley.edu/cas/logout' %>
