<h1>Opt-In Successful</h1>

<p>You have successfully submitted an opt-in request to the alt-media scanning service. In a few minutes, you will receive a confirmation email that includes a link to instructions.</p>

<p>If you do not receive a confirmation email, please contact the Privileges Desk:</p>

<ul>
  <li>Email: <%= mail_to 'privdesk-library@berkeley.edu' %></li>
  <li>Phone: +1(510)642-3403</li>
</ul>
