<h1>Holdings Request</h1>

<p>
  Your holdings request is complete. Please see the attached spreadsheet, or
  <%= link_to('click here to download it', holdings_tasks_result_url(holdings_task)) %>.
</p>
<% if error_report %>
  <p><%= error_report %></p>
<% end %>
<p>
  If you have any questions, please write to <a href="mailto:helpbox-library@berkeley.edu">helpbox-library@berkeley.edu</a>.
</p>
