<p><b>Paying for UC Library Search Consortia (Non-Berkeley) Fines (UCB Faculty, Staff, and Students)</b></p>
  <p>
    Fines associated with UC Library Search Consortia materials are assessed by the owning campus of the item. UCB Faculty, Staff, and Students (UC Network Users) should contact the owning campus of the billed item for payment instructions. Item fees from other UC campuses may result in blocks to borrowing privileges until resolved.
  </p>
  

  <table class='table'>
    <thead>
      <tr>
        <th scope="col">UC Campus Library</th>
        <th scope="col">Contact</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>UC Los Angeles, including SRLF</td>
        <td><a href="mailto:yrl-circ@library.ucla.edu">yrl-circ@library.ucla.edu</a></td>
      </tr>
      <tr>
        <td>UC Santa Cruz</td>
        <td><a href="mailto:billing@library.ucsc.edu">billing@library.ucsc.edu</a></td>
      </tr>
      <tr>
        <td>UC Davis</td>
        <td><a href="mailto:librarybilling@ucdavis.edu">librarybilling@ucdavis.edu</a></td>
      </tr>
      <tr>
        <td>UC San Francisco</td>
        <td><a href="https://www.library.ucsf.edu/contact/">UCSF Contact On-Line Form</a></td>
      </tr>
      <tr>
        <td>UC Merced</td>
        <td><a href="mailto:library@ucmerced.edu">library@ucmerced.edu</a></td>
      </tr>
      <tr>
        <td>UC Irvine</td>
        <td><a href="mailto:circadm@uci.edu">circadm@uci.edu</a></td>
      </tr>
      <tr>
        <td>UC Riverside</td>
        <td><a href="mailto:library-billing@ucr.edu">library-billing@ucr.edu</a></td>
      </tr>
      <tr>
        <td>UC San Diego</td>
        <td><a href="mailto:LibraryBilling@ucsd.edu">LibraryBilling@ucsd.edu</a></td>
      </tr>
      <tr>
        <td>UC Santa Barbara</td>
        <td><a href="mailto:circ@library.ucsb.edu">circ@library.ucsb.edu</a></td>
      </tr>
    </tbody>
  </table>
</div>
