<h1>Payment Failed</h1>
Your payment transaction has failed. Please wait a few minutes and try again. If the problem persists please email <%= mail_to 'helpbox@library.berkeley.edu', 'helpbox@library.berkeley.edu' %>. 