<h1>Payment Error</h1>
There has been an error with your payment transaction.  Please wait a few minutes and try again. If the problem persists please email <%= mail_to('helpbox-library@berkeley.edu') %>.
