<%
  fields = {
    'Title' => @lending_item.title,
    'Author' => @lending_item.author,
    'Record ID' => @lending_item.record_id,
    'Barcode' => @lending_item.barcode,
    'Copies' => @lending_item.copies,
    'Copies available' => @lending_item.copies_available
  }.merge(additional_fields)
%>

<section class="record">
  <% if show_viewer %>
    <%=
      render(
        partial: 'viewer',
        locals: {
          manifest_url: manifest_url,
          viewer_title: viewer_title,
        }
      )
    %>
  <% end %>

  <table>
    <% fields.each do |label, value| %>
      <tr>
        <th><%= label %></th>
        <td><%= format_value(value) %></td>
      </tr>
    <% end %>
    <tr>
      <th class="action"><%= action %></th>
    </tr>
  </table>
</section>
