<table>
  <thead>
  <tr>
    <th><%= viewer_title %></th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <% if item_processed %>
      <td class="viewer">
        <div class="viewer">
          <%
            # TODO: make this a method on IIIFItem or something
            canvas_id = UCBLIT::Util::URIs.append(manifest_url, '/canvas/p1').to_s
          %>
          <%=
            # TODO: do all this by hand in a $(document).ready()
            mirador_tag(
              id: 'iiif_viewer',
              width: '100%',
              height: '100%',
              position: 'relative',
              display: 'block',
              instance_name: 'miradorInstance',
              options: {
                mainMenuSettings: { show: false },
                data: [
                  { manifestUri: manifest_url, location: 'UC Berkeley Library' }
                ],
                windowObjects: [
                  {
                    loadedManifest: manifest_url,
                    canvasID: canvas_id,
                    viewType: 'ImageView',
                    availableViews: ['ImageView'],
                    annotationLayer: false,
                    displayLayout: false,
                    sidePanel: false,
                  }
                ]
              }
            ) %>
          <script>
            $(function () {
              addMiradorMetadataHandler()
            })
          </script>
        </div>
      </td>
    <% else %>
      <td class="description">
        <p><%= LendingItem::MSG_UNPROCESSED %></p>
      </td>
    <% end %>
  </tr>
  </tbody>
</table>
