<% content_for(:page_title, "UC BEARS: Editing #{@lending_item.title}") %>

<%# TODO: style navigation properly %>
<nav>
<%= link_to 'Index', lending_path(directory: @lending_item.directory) %> |
<%= link_to 'Back', lending_path %>
</nav>

<%= render(partial: 'form', locals: { item: @lending_item }) %>
