<% content_for(:page_title, "UC BEARS") %>

<h1>UC BEARS (UC Berkeley Electronic and Accessible Reserves System)</h1>

<ul>
  <li><a href="#inactive">New or inactive items</a></li>
  <li><a href="#active">Active items</a></li>
  <li><a href="#unprocessed">Invalid items</a></li>
</ul>

<hr/><%# TODO: just fix H2 styling %>

<h2 id="inactive">New or Inactive Items</h2>
<%= render(partial: 'item_table', locals: { items: LendingItem.inactive }) %>

<p><a href="#main">Return to top</a></p>

<hr/><%# TODO: just fix H2 styling %>

<h2 id="active">Active Items</h2>
<%= render(partial: 'item_table', locals: { items: LendingItem.active }) %>

<p><a href="#main">Return to top</a></p>

<hr/><%# TODO: just fix H2 styling %>

<h2 id="active">Invalid Items</h2>
<%= render(partial: 'item_table', locals: { items: LendingItem.invalid }) %>

<p><a href="#main">Return to top</a></p>
