<% content_for(:page_title, "UC BEARS") %>

<h1>UC Berkeley Electronic and Accessible Reserves System</h1>

<h2>Inactive Items</h2>
<%= render(partial: 'item_table', locals: { items: LendingItem.inactive }) %>

<h2>Active Items</h2>
<%= render(partial: 'item_table', locals: { items: LendingItem.active }) %>
