<% content_for(:page_title, "UC BEARS: New Item") %>

<h1>UC BEARS (UC Berkeley Electronic and Accessible Reserves System)</h1>

<%# TODO: style navigation properly %>
<nav><%= link_to 'Back', lending_path %></nav>

<%= render(partial: 'form', locals: { item: @lending_item }) %>
