<% content_for(:page_title, "UC BEARS: #{@lending_item.title}") %>

<%# TODO: style navigation properly %>
<nav><%= link_to 'Index', lending_path %></nav>

<%=
  # TODO: should this logic really be in the view?

  directory = @lending_item.directory

  # TODO: Use Rails i18n
  action = link_to('Edit', lending_edit_path(directory: directory), class: 'btn btn-secondary')

  additional_fields = {}.tap do |ff|
    due_dates = @lending_item.due_dates.to_a
    ff['Due dates for current checkouts'] = due_dates unless due_dates.empty?

    if @lending_item.processed?
      ff['Processed?'] = 'Yes'
      ff['IIIF directory'] = @lending_item.iiif_dir
    else
      ff['Processed?'] = 'No'
    end

    ff['Directory'] = directory

    view_url = lending_view_url(directory: directory)
    ff['Direct link'] = link_to(view_url, view_url, target: '_blank')
  end

  render(
    partial: 'record',
    locals: {
      show_viewer: true,
      viewer_title: 'Preview',
      additional_fields: additional_fields,
      action: action
    }
  )
%>
