<%
  # TODO: something less hacky
  content_for(:head_additional) do
  next unless @lending_item_loan&.active?

  redirect_s = @lending_item_loan.seconds_remaining.to_i
  redirect_url = lending_return_url(directory: @lending_item_loan.lending_item.directory)
%>
  <meta http-equiv="Refresh" content="<%= "#{redirect_s}; URL=#{redirect_url}" %>">
<% end %>

<% content_for(:page_title, "UC BEARS: #{@lending_item.title}") %>
<h1>UC BEARS (UC Berkeley Electronic and Accessible Reserves System)</h1>
<%=
  render(
    partial: 'record',
    locals: {
      presenter: LendingItemViewPresenter.new(self, @lending_item, @lending_item_loan)
    }
  )
%>
