<% content_for(:page_title, "UC BEARS: #{@lending_item.title}") %>

<h1>UC BEARS (UC Berkeley Electronic and Accessible Reserves System)</h1>
<%=
  render(
    partial: 'record',
    locals: {
      presenter: LendingItemViewPresenter.new(self, @lending_item, @lending_item_loan)
    }
  )
%>
