<% content_for(:page_title, "UC BEARS: #{@lending_item.title}") %>

<%=
  # TODO: should this logic really be in the view?

  directory = @lending_item.directory

  # TODO: Use Rails i18n
  action = if @lending_item_loan.active?
    link_to('Return now', lending_return_path(directory: directory), class: 'btn btn-danger')
  elsif @lending_item.available?
    link_to('Check out', lending_check_out_path(directory: directory), class: 'btn btn-primary')
  else
    '<span class="btn btn-primary disabled">Check out</span>'.html_safe
  end

  # TODO: format all dates
  additional_fields = {}.tap do |ff|
    if @lending_item_loan.persisted?
      ff['Loan status'] = @lending_item_loan.loan_status
      ff['Checked out'] = @lending_item_loan.loan_date
    end
    ff['Due'] = @lending_item_loan.due_date if @lending_item_loan.active?
    ff['Returned'] = @lending_item_loan.return_date if @lending_item_loan.complete?
  end

  render(
    partial: 'record',
    locals: {
      show_viewer: @lending_item_loan.active?,
      viewer_title: 'View',
      additional_fields: additional_fields,
      action: action
    }
  )
%>
