<h1>Restricted to University staff</h1>
<p>Only UC Berkeley staff may download TIND metadata.</p>
<p>If you believe this is an error, please contact <%= mail_to('helpbox-library@berkeley.edu', subject: 'TIND download form') %> for assistance.</p>
