<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>

  <body>

  <h3>You have successfully opted in to the alt-media scanning service.</h3><br/>

  Please see <a href="http://www.lib.berkeley.edu/help/disability-resources-print">Disability resources - Print disabilities</a> for instructions.

  </body>
</html>
