<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>

  <body>
  <br/>
  Thank you for agreeing to the current Doe/Moffitt Study Space/Studio Use - Terms and Conditions and understanding that:
  <br/>
  <ul style="list-style-type:circle;">
  	<li>You must present your Cal 1 Card in order to check out a study room/space key.</li>
  	<li>You must vacate the room at or before the reservation end time; all belongings must be removed and doors must be locked after vacating the study room; rooms should be left neat and free of trash, and users/groups must return rooms to the correct occupancy (number of chairs) before returning the key.
	</li>
  	<li>There is absolutely NO food/drink permitted in the Gardner Main Stacks and its study rooms.</li>
  </ul>

  </body>
</html>
