<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/> 
      <style>
        .content {
          max-width: fit-content;
          margin-left: 30px;
        }
      </style>
  </head>

  <body>
    <div class="content">
      <div>
        <%= @email_form.patron_message %>
      </div>
    </div>
  </body>
</html>
