<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>

  <body>

  <h3>Thank you for agreeing to the current Doe/Moffitt Study Space/Studio Use Terms and Conditions. Rest of text...
  </h3>

  </body>
</html>
