<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>

  <body>
<br/>
<%= "#{@firstname} #{@lastname}" %> <%= @empid %>‘s attempt to opt in to the alt scanning service has failed.<br/><br/> An eligibility note was not added to the patron record.<br/><br/>Please add the following note to the faculty’s patron record: <%= @note %> 

  </body>
</html>
