<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
  Thank you for submitting the Graphic Arts Loan Collection Borrowing Contract. Please return to the <a href="http://galc.lib.berkeley.edu" target="_blank">GALC website</a> to view the prints, and submit a reservation request. The Morrison Library will email you when your print is ready for pick up.
  <p>
  YOU MAY ONLY RESERVE TWO PRINTS PER SEMESTER. YOU MAY HAVE NO MORE THAN TWO PRINTS CHARGED OUT AT ANY TIME.
 </p>
  <p>
  Prints will be available for pick up at the <a href="https://www.lib.berkeley.edu/libraries/morrison-library" target="_blank">Morrison Library</a> during regular business hours, Monday-Friday, 10am-5pm. 
  </p>
  <p>
  When you pick up a print, you must show your current UC Berkeley ID.
  </p>
  <p>
  Prints are non-renewable.  All prints must be returned to the <a href="https://www.lib.berkeley.edu/libraries/morrison-library" target="_blank">Morrison Library</a> by the spring semester due date.  Please handle the prints with care. We suggest keeping the cardboard corners and reusing them when returning the prints.
  </p>
  </body>
</html>
