<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>

  <body>
<br/>
<%= "#{@displayname}" %> <%= @empid %>‘s attempt to agree to the Library Staff Electronic Devices Loan - Terms and Conditions has failed.<br/><br/> An eligibility note was not added to the patron record.<br/><br/>Please add the following note to the library staff member's patron record: <%= @note %>

  </body>
</html>
