<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>

  <body>
<br/>
<%= "#{@displayname}" %> <%= @empid %>‘s attempt to request an electronic device has failed.<br/><br/> A note was not added to the patron record.<br/><br/>Please add the following note to the patron record: <%= @note %> 

  </body>
</html>
