<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>

  <body>

  <h3>Thank you for agreeing to the current Library Staff Electronic Devices Loan Terms and Conditions and understanding that you must present your Cal 1 Card at the Main Circulation Desk in Doe Library when requesting to borrow equipment. When you check out a laptop or tablet you will need to verify that the device is in good working order. Circulation Desk staff will verify that the device, as well as any peripheries, are in good condition prior to device check out/return.
  <br/>

  For more information about the Library Staff Electronic Devices Borrowing Program, see the <a href="http://www.lib.berkeley.edu/Staff/">Staff Web</a> under L, laptop loans to staff.</h3>

  </body>
</html>
