<p>The Proxy Borrower card</p>
<ul>
  <li>May be picked up at the Library Privileges Desk (198 Doe Library, <a 
href="https://www.lib.berkeley.edu/sites/default/files/doe-floorplan-1.pdf">floor 1</a>) in 1-2 business days.</li>
  <li>Must be picked up <b>by the proxy (research assistant)</b> who must present a <b>photo ID card</b>.</li>
  <li>If you are renewing an existing proxy card, please bring it with you.</li>
</ul>
<p>Library Privileges Desk <a 
href="https://www.lib.berkeley.edu/find/privileges-desk">hours</a>.</p>
E: <a href="mailto:privdesk-library@berkeley.edu">privdesk-library@berkeley.edu</a><br />
P: 510-642-3403
