<h1>Reference Card Approved</h1>
<p>Your request for a Reference Card has been approved. You may print out the attached PDF or save it to your phone and bring it to the <%= link_to 'Privileges Desk', 'https://www.lib.berkeley.edu/find/privileges-desk' %> (Doe Library, Gardner Stacks, Level A) along with a government issued photo ID (passport, driver’s license, or state ID).</p>
