<% if @reference_card_form.denial_reason == 'Item listed at another library' %>
  <p>Denied - Item listed at other library</p>
  <p>Your request for a Reference Card has been denied. The item that you have listed (call number from the Request form) is not in the Main (Gardner) Stacks. Please recheck OskiCat to see where it is located.</p>
<% elsif @reference_card_form.denial_reason == 'Too many passes requested' %>
  <p>Denied - Too many Reference cards requested</p>
  <p>Your request for a Reference Card has been denied. The maximum allowed Reference Card term is 3 months in one year. You have exceeded the term limit.</p>
<% elsif @reference_card_form.denial_reason == 'Item at NRLF' %>
  <p>Denied - Item at NRLF</p>
  <p>Your request for a Reference Card has been denied. The item that you have listed  (call number from the Request form)  is not located in the Main (Gardner) Stacks, it is located off site at the Northern Regional Library Facility (NRLF). You may contact NRLF to request to have the item pulled so you may view it on-site at NRLF. Alternatively, if you would like to view this item on the UC Berkeley campus, please call the Main Circulation Desk to request to have the item sent from NRLF to campus.</p>
<% else %>
  <p>Denied - Other</p>
  <p>Your request for a Reference Card has been denied for the following reason: <%= @reference_card_form.denial_reason %>.</p>
<% end %>
