<p>There is a new reference card request for starting day <%= @reference_card_form.pass_date %> for review at https://framework.ucblib.org/forms/reference-card/<%= @reference_card_form.id %></p>
<p>[Link to Approve/Deny Admin interface in framework]</p>
