<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>

  <body>
  <br/>
  <h3><%= "#{@displayname} #{@empid}" %> has opted in to the alt-media scanning service.</h3>
  </body>
</html>
