<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>

  <body>
<br/>
<%= "#{@displayname}" %> <%= @empid %>‘s attempt to submit an article request has failed.

  </body>
</html>
