<p>Stack Pass</p>
<p>There is a new request for day <%= @stackpass_form.pass_date %> ready for review at http://servlet2.lib.berkeley.edu:8080/stackpass/approval.displayApproval.logic?reqID=<%= @stackpass_form.id %></p>
<%= link_to "Request", @stackpass_form %>
<p>[Link to Approve/Deny Admin interface in framework]</p>
