<p>There is a new request for day <%= @stackpass_form.pass_date %>
  ready for review at https://framework.ucblib.org/forms/stack-pass/<%= @stackpass_form.id %></p>
<%= link_to "Request", @stackpass_form %>
<p>[Link to Approve/Deny Admin interface in framework]</p>
