<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
  <br/>
Thank you for agreeing to the current academic year Student Laptop Lending Terms and Conditions and understanding that you must present your valid Cal1 Card at the participating library’s Circulation Desk when requesting to borrow a laptop. When you check out a laptop you will need to verify that the device is in good working order. Circulation Desk staff will verify that the device, as well as any peripheries, are in good condition prior to device check out/return.

For more information about the Student Laptop Lending Program, see the <a href="http://www.lib.berkeley.edu/using-the-libraries/laptop-lending">laptop lending policy</a>. More detailed information regarding replacement costs can be found at <a href="http://www.lib.berkeley.edu/using-the-libraries/fines">lib.berkeley.edu/using-the-libraries/fines</a>.
 </body>
</html>