<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
  <br/>
Thank you for agreeing to the current Student Electronic Devices Loan Agreement Form and understanding that you must go to the participating library Circulation Desk to borrow the requested equipment, you must present your Cal 1 Card at the Circulation Desk to borrow the requested equipment, and when you check out the equipment you will need to verify that the device is in good working order.
 </body>
</html>