<h1>Agreement Submitted</h1>

<p class="success">Thank you for agreeing to the current Doe/Moffitt Study Space/Studio Use - Terms and Conditions and understanding that you must present your valid Cal 1 Card in order to check out a study room/space key, and that you must vacate the room and return the key at or before the reservation end time. Rooms should be left neat, tidy, and at the correct occupancy (number of chairs); you must leave the room free of trash and/or personal belongings in order to exchange the key for your Cal ID.</p>

<p>In a few minutes, you will receive a confirmation email that also confirms your submission of the form.</p>

<p>If you do not receive a confirmation email, please contact the Privileges Desk:</p>

<ul>
  <li>Email: <%= mail_to 'privdesk@library.berkeley.edu' %></li>
  <li>Phone: +1(510)642-3403</li>
</ul>