<h3>Alt-media scanning services are available to UC Berkeley faculty and instructors. You are<br>
not identified as faculty or instructor in your library record. Please <a href="http://www.lib.berkeley.edu/using-the-libraries/privileges-desk"> contact the Privileges Desk</a><br/> for assistance.</h3><br/><br/>

<%= link_to 'Logout','https://auth.berkeley.edu/cas/logout' %>
