<br/>
<h3>You have successfully submitted a opt-in request to the alt-media scanning service.<br/>
In a few minutes you will receive a confirmation email that includes a link to instructions.</h3><br/>

If you do not receive a confirmation email, please contact the Privileges Desk:<br/>
<%= mail_to 'privdesk@library.berkeley.edu' %>, 510-642-3403<br/><br/>

<%= link_to 'Logout','https://auth.berkeley.edu/cas/logout' %>
