<%= form_for(@form, class: 'needs-validation') do |f| %>
  <h1>Library Alt-Media Service - Article Request Form</h1>

  <% if @form.errors.any? %>
    <div class="alert alert-danger alert-dismissible">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>

      <h5>Validation Failed</h5>

      <p>We identified the following errors in your submission:</p>

      <ul>
        <% @form.errors.full_messages.each do |attribute, msg| %>
          <li><%= "#{attribute} #{msg}" %></li>
        <% end %>
      </ul>

      <p>Please correct these and resubmit the form.</p>
    </div>
  <% end %>

  <br />

  <p>This article request form is for patrons who are eligible to use the Library’s Alt-Media Scanning Service. Please see <a href="http://www.lib.berkeley.edu/help/disability-resources-print">Disability resources - Print disabilities</a> for more information about the service. Patrons seeking whole book scanning should request the book through <a href="http://oskicat.berkeley.edu">OskiCat</a>.</p>

  <div class="btn-group" role="group">
    <%= f.submit(class: "btn btn-primary") %>
  </div>
<% end %>