<% if @error.patron.faculty? %>

  <h1>More is required</h1>

  <p class="blocked">Sorry, you have not filled out the Opt in/out of alt-media scanning form. Please go to <a href="https://framework.lib.berkeley.edu/forms/altmedia/new">https://framework.lib.berkeley.edu/forms/altmedia/new</a> first before filling out this form.</p>

<% elsif @error.patron.student? %>

  <h1>Ineligible</h1>

  <p class="blocked">Sorry, you are not eligible for this service. The Library receives eligible students from the <a href="https://dsp.berkeley.edu">Disabled Students Program</a>, so please contact them directly.</p>

<% else %>

  <h1>Ineligible</h1>

  <p class="blocked">Sorry, you are not eligible for this service.</p>

<% end %>
