<h1>More is required</h1>

<p class="blocked">Sorry, you have not filled out the Opt in/out of alt-media scanning form, please go to <a href="https://framework.lib.berkeley.edu/forms/altmedia/new">https://framework.lib.berkeley.edu/forms/altmedia/new</a> first before filling out this form.</p>
