<h1>Ineligible</h1>

<p class="blocked">Sorry, you are not eligible for this service. The Library receives eligible students from the <a href="https://dsp.berkeley.edu">Disabled Students Program</a>, so please contact them directly.</p>
