<h1>404 - Page not found</h1>
<h3>GADZOOKS!</h3>
<p>Apparently one of our developers is a complete idiot (kinda true) and broke something (maybe...unless you were entering a bad URL....Hmmm, guilty?)... Worry not, an email will be delivered directly to his manager (it won't) and he will be fired immediately (he won't) and before you know it the development team will drop everything and fix this issue (they won't).</p>
<p>If you're really absolutely positive you should have gotten a page - you can submit a ticket with someone...not sure who.</p>
<p>I'll get back to you...no really, just give me a few minutes to finish this latte and I'll be right on it!</p>
