<h1 class="mb-3">Stack Pass/Reference Card - Administration</h1>
<br>
<%= link_to 'View all Stack Pass requests', forms_stack_pass_admin_stack_passes_path %>
<br>
<%= link_to 'View all Reference Card requests', forms_stack_pass_admin_reference_cards_path %>
<br>
<%= link_to 'Edit/Add Administrators', forms_stack_pass_admin_users_path %>
<br>
