<h1 class="mb-3">Stack Pass/Reference Card - Administration</h1>

<ul>
  <li><%= link_to 'View all Stack Pass requests', forms_stack_pass_admin_stack_passes_path %></li>
  <li><%= link_to 'View all Reference Card requests', forms_stack_pass_admin_reference_cards_path %></li>
</ul>
<ul>
  <li><%= link_to 'Manage Administrators', stack_pass_users_path %></li>
</ul>
