<h3>Stack Pass and Reference Card</h3>
<p>Stack Pass - a one day ticked to the wonder of the Gardner Stacks... Be amazed.</p>
<br />
<!-- Stack Pass Form -->
<%= link_to "Stack Pass", new_stack_pass_form_path %>
<br />
<!-- Reference Card Form -->
<%= link_to "Reference Card", new_stack_pass_form_path %>
<br />
<!-- Admin page only visible for administrators -->
<% if @user_role %>
  <%= link_to "Admin User", forms_stack_pass_admin_path %>
  <br />
<% end %>
