<h1>Request for one-day access - Main (Gardner) Stacks</h1>
<p>Your request for a Stack Pass has been submitted. Library staff will review your request and if it is approved, you will receive a reply with the Pass as a PDF attachment. You may print out the Pass or save it to your phone and bring it to the Doe Library, Gardner Stacks, Level A.</p>
<p>If you have requested same-day access by 10 AM and you have not received a reply by 2 PM, contact the Library's <%= link_to 'Privileges Desk', 'https://www.lib.berkeley.edu/using-the-libraries/privileges-desk' %> at 510-642-3403.</p>
<p>If you are using spam filtering software, you may need to add the following email address to your address book to ensure that you receive your Pass: privdesk@library.berkeley.edu</p>
