<h1>Request for Reference Card - Main (Gardner) Stacks</h1>
<p>Your request for a Reference Card has been submitted. Library staff will review your request and if it is approved, you will receive a reply with an approval document as a PDF attachment. You may print out the approval document or save it to your phone and bring it to the <%= link_to 'Privileges Desk', 'https://www.lib.berkeley.edu/using-the-libraries/privileges-desk' %> (Doe Library, Gardner Stacks, Level A) along with a government-issued photo ID (passport, driver’s license, or state ID).</p>
<p>If you are using spam filtering software, you may need to add the following email address to your address book to ensure that you receive your approval document: lib-noreply@berkeley.edu</p>
