<h1 style="font-size: 2rem">Your MMSID and Tind Information request has been submitted.</h1>
<p>Your request was successfully submitted. Once the job has completed you should receive an email with an attachment containing MMSID and TIND information. Depending on the number of MMSIDs, this may take minutes or hours.

<p>
  If you are using spam filtering software, you may need to add the following email address to your address book to ensure that you receive your batch load:<br/>
  lib-noreply@berkeley.edu
</p>

