</br>
<h3>Your Host Bibliographic Tool request has been submitted</h3>
</br>
<p>Once the job has been completed you should receive an email at: <b> <%=@current_user.email%></b> from <b>lib-noreply@berkeley.edu</b></p>
<p>Depending on the number of items being requested, this may take minutes, hours or days.</p>