<h1>Proxy Borrower Card</h1>
<h2>The form has been submitted.</h2>
<p>The Proxy Borrower card may be picked up at the Library Privileges Desk (Doe Library, floor 1) in 1-2 business days.</p>
<ul>
  <li>The card must be picked up <strong>by the proxy (research assistant)</strong> who must present a <strong>photo ID card.</strong></li>
  <li>If you are renewing an existing proxy card, please have the proxy borrower bring it to the Privileges Desk on their next visit to the Library with a photo ID to have a new expiration date sticker affixed to the card.</li>
  <li>Please check <%= link_to 'Privileges Desk hours', 'https://www.lib.berkeley.edu/using-the-libraries/privileges-desk' %> before your visit.</li>
</ul>
