form {
  margin-top: 1rem;

  ul {
    list-style-type: none;
    padding-left: 0;
    margin: 0;

    display: grid;
    grid-template-columns: min-content min-content;
    column-gap: 1rem;

    li {
      display: contents;

      label {
        white-space: nowrap;

        grid-column: 1;
      }

      input + label {
        grid-column: 2;
      }

      input {
        grid-column: 2;

        &[type="checkbox"], &[type="radio"] {
          grid-column: 1;
        }

        &[type="submit"] {
          margin-top: 2rem;
        }

        &[type="file"] {
          white-space: nowrap;
          width: auto;
        }
      }

      fieldset {
        display: contents;

        legend {
          grid-column: 1;

          font-size: 1rem;
          white-space: nowrap;
        }

        ul {
          grid-column: 2;

          &::after {
            content: none;
          }
        }

        p {
          grid-column: 2;
        }
      }

      p.required-note {
        grid-column: 1 / 3;
      }
    }
  }
}

table.holdings-request {
  margin-top: 3rem;
  margin-bottom: 2rem;

  //border-top: 1px solid #3b3b3b;
  //border-bottom: 1px solid #3b3b3b;

  table.options {
    margin-top: 0;
  }
}

table.holdings-request-list {
  width: 100%;

  th {
    text-align: left;
  }

  th, td {
    padding: 0.5rem;
  }

  tr {
    th, td {
      border-bottom: 1px solid #888888;
    }
  }

  tbody {
    tr:nth-child(odd) {
      background-color: #EEEAE3;
    }

    tr:last-of-type {
      th, td {
        border-bottom: none;
      }
    }
  }
}
