// TODO: don't load this in application.scss
/*
 *= require mirador
 */

aside.viewer {
  border: 2px solid magenta;
  width: 1156px;
  height: 900px;
}

// TODO: Why doesn't Mirador config hide this
.hud-container {
  display: none;
}

.mirador-container {
  a.mirador-icon-view-type {
    display: none;
  }
}
