//= require shared/mirador

// ////////////////////////////////////////////////////////////
// mini-reset

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
}

// ////////////////////////////////////////////////////////////
// Layout

// //////////////////////////////
// Text

$em: 1em; // SCSS math works better on variables than literals

$font-size-xsmall: 3 * $em / 4;
$font-size-small: 11 * $em / 12;
$font-size-large: 7 * $em / 6;
$font-size-xlarge: 2 * $em;

$line-height: 4 * $em / 3;

$image-error-width: $font-size-large;
$image-error-height: 576 * $image-error-width / 512;

// //////////////////////////////
// Box layout

$margin-xsmall: $em / 6;
$margin-small: $em / 3;
$margin: $em / 2;
$margin-large: 2 * $margin-small;
$margin-xlarge: $em;

$padding-header-footer: $em;
$sitename-baseline-adjust: 5 * $em / 6;

// //////////////////////////////
// Mobile/desktop layout

// TODO: Something more sophisticated that works properly w/iPhone X
$media-breakpoint-width: 800px;

// ////////////////////////////////////////////////////////////
// Colors

// //////////////////////////////
// UC brand colors

$color-pacific: #46535e;
$color-web-grey: #888888;
$color-bay-fog: #ddd5c7;
$color-california-gold: #fdb515;
$color-golden-gate: #ed4e33;
$color-lap-lane: #00a598;
$color-rose-garden: #ee1f60;
$color-south-hall: #6c3302;

// //////////////////////////////
// As used

$color-site-name: $color-pacific;
$color-header-divider: $color-web-grey;

$color-reversed-background: $color-pacific;
$color-row-divider: $color-bay-fog;
$color-anchor-highlight: $color-california-gold;

// ////////////////////////////////////////////////////////////
// Fonts

$font-family-sans: 'freight-sans-pro', Helvetica, sans-serif;
$font-family-mono: Hasklig, Menlo, Consolas, Cousine, Courier, 'Courier New', monospace;

$font-weight-light: 300;
$font-weight-book: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;

// ////////////////////////////////////////////////////////////
// Shared between layouts

nav {
  font-size: $font-size-large;
}

section {
  &.record {
    table {
      font-size: 14px;
      margin-bottom: $margin;
      margin-top: $margin;
      width: 100%;

      thead {
        display: contents;

        th {
          background: $color-reversed-background;
          border: 0;
          color: white;
          text-align: left;
        }
      }

      tbody {
        display: contents;

        th {
          font-weight: $font-weight-bold;
        }
      }

      tr {
        display: contents;

        &:last-child {
          td {
            border-bottom: 0;
          }
        }
      }

      th {
        border-bottom: 1px solid $color-row-divider;
        padding: $margin-small $margin;
        white-space: nowrap;

        &.action {
          color: white;
          padding-left: 5px;
          padding-right: 5px;
          text-align: left;

          input {
            border: none;
            background: none;
            -webkit-appearance: none;
            appearance: none;
            color: inherit;
            font: inherit;
            text-align: left;
            height: 100%;
            width: 100%;
            padding: 0 2px;

            &:hover {
              background: $color-anchor-highlight;
              color: black;
            }
          }

          a {
            display: block;
            text-decoration: none;
            box-shadow: none;
            color: inherit;

            &:hover {
              background: $color-anchor-highlight;
              color: black;
            }
          }

          &.checkout {
            background: $color-lap-lane;
          }

          &.return {
            background: $color-golden-gate;
          }

          &.edit {
            background: $color-south-hall;
          }
        }
      }

      td {
        border-bottom: 1px solid $color-row-divider;
        padding: $margin-small;
      }
    }
  }
}

// ////////////////////////////////////////////////////////////
// Desktop layout

@media (min-width: $media-breakpoint-width) {

  // //////////////////////////////
  // record

  section {
    &.record {
      margin-left: auto;
      margin-right: auto;
      width: $media-breakpoint-width;

      h2 {
        line-height: $line-height;
      }

      table {
        display: grid;
        grid-template-columns: min-content 1fr;

        thead {
          th {
            grid-column: 1 / 3;
          }
        }

        tr {
          &:last-child {
            th {
              border-bottom: 0;
            }
          }
        }

        th {
          grid-column: 1;
          text-align: right;
          white-space: nowrap;

          &.action {
            grid-column: 1 / 3;
          }
        }

        td {
          grid-column: 2;

          &.description {
            grid-column: 1 / 3;
          }

          &.viewer {
            background: black;
            grid-column: 1 / 3;

            a {
              box-shadow: none;
              background: none;
            }
          }
        }
      }
    }
  }

  div.viewer {
    width: 792px;
    height: 1056px;
    margin: auto;
  }

}

// ////////////////////////////////////////////////////////////
// Mobile layout

@media (max-width: $media-breakpoint-width) {

  section {
    &.record {
      margin: $margin-xlarge;
      font-size: 12pt;

      h2 {
        line-height: $em;
      }

      table {
        display: flex;
        flex-direction: column;

        tbody {
          th {
            border-bottom: 0;
            padding-bottom: 0;
          }

          td {
            padding-left: $em;

            &.description {
              padding-left: $margin-xsmall;
              padding-right: $margin-xsmall;
            }

            &.viewer {
              background: black;

              a {
                box-shadow: none;
                background: none;
              }
            }
          }
        }

        th {
          text-align: left;
        }
      }
    }
  }

  div.viewer {
    width: 100%;
    height: 1024px;
  }
}
