form {
  margin-top: 1rem;

  > ul {
    border-top: 1px solid #EEEAE3;
    padding-top: 1rem;
  }

  ul {
    list-style-type: none;
    padding-left: 0;
    margin: 0;

    display: grid;
    grid-template-columns: min-content minmax(0, 1fr);
    gap: 1rem;

    li {
      display: contents;

      label {
        white-space: nowrap;
      }

      input {
        &[type="submit"] {
          margin-top: 2rem;
        }

        &[type="file"] {
          white-space: nowrap;
          width: auto;
        }
      }

      p.option-note {
        padding-top: 0.25rem;
        font-size: calc(7rem / 8);
        grid-column: 2;
      }

      fieldset {
        display: contents;

        legend {
          grid-column: 1;

          font-size: 1rem;
          white-space: nowrap;
        }

        ul {
          grid-column: 2;
          row-gap: 0;

          &::after {
            content: none;
          }
        }
      }

      p.required-note {
        border-top: 1px solid #EEEAE3;
        padding-top: 1rem;
      }
    }

    p {
      grid-column: 1 / 3;
    }
  }
}

p.note {
  margin-top: 0.5em;
  margin-bottom: 0;
}

table.location-request {
  margin-top: 2rem;
  margin-bottom: 2rem;

  padding-top: 0.5rem;
  padding-bottom: 0.5rem;

  border-top: 1px solid #EEEAE3;
  border-bottom: 1px solid #EEEAE3;

  table.options {
    margin-top: 0;
  }
}

table.location-request-list {
  width: 100%;
  font-size: smaller;

  th {
    text-align: left;
  }

  th, td {
    padding: 0.5rem;
    border-bottom: 1px solid #888888;
    white-space: nowrap;
  }

  tbody {
    tr:nth-child(odd) {
      background-color: #EEEAE3;
    }

    tr:last-of-type {
      th, td {
        border-bottom: none;
      }
    }
  }
}

section.location-request {
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #888888;
  margin-bottom: 1rem;
}
