<h1>Not Found</h1>

<p>The page <b><%= request.original_fullpath %></b> was not found on this server.</p>

<% if exception && Rails.env.test? %>
  <%= render(partial: 'exception_details', locals: { exception: exception }) %>
<% end %>
