<h1>Unauthorized</h1>

<p>You need to log in to continue.</p>

<%= form_tag('/auth/calnet', url: request.original_url, method: :post, data: { turbo: false }) do %>
  <%= button_tag 'CalNet Login', class: :calnet_login, role: :link %>
<% end %>
