<h1>Controlled Digital Lending</h1>

<%= render(partial: 'metadata') %>


<%= link_to 'Edit', edit_lending_item_path(@lending_item) %> |
<%= link_to 'Back', lending_items_path %>

<p>
  <%= link_to 'Patron view', lending_item_loans_new_path(lending_item_id: @lending_item.id) %>
</p>
