<footer class="page-footer font-small blue pt-4">
  <div class="container text-center">
    <p class="text-muted"><%= questions_link %></p>
    <ul class="list-inline">
      <li class="list-inline-item"><a href="https://lib.berkeley.edu/about/privacy-policy">Privacy</a></li>
      <li class="list-inline-item"><a href="https://dac.berkeley.edu/web-accessibility">Accessibility</a></li>
      <li class="list-inline-item"><a href="https://ophd.berkeley.edu/policies-and-procedures/nondiscrimination-policy-statement">Nondiscrimination</a></li>
    </ul>
    <p class="text-muted">Copyright &copy; <%= Time.new.year %> The Regents of the University of California. All rights reserved.</p>
  </div>
  <br />
</footer>
